html,
body {
  height: 100%;
}

.slick-list, .slick-track { touch-action:pan-y; }

.sortable-handler {
  touch-action: none;
}


.MasterClasses {


  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  
  /*max-height: 10%;
  min-height: 10%;
 */
 
}

.card{
  display: flex;

 /* max-width: 100%;
  min-width: 100%;
  
  max-height: 10%;
  min-height: 10%;
  */

}

.card-img-top{
  /*padding: 10px;*/
}
