html,
body {
  height: 100%;
}

.slick-list, .slick-track { touch-action:pan-y; }

.sortable-handler {
  touch-action: none;
}


.MasterClasses {


  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;

 
}

.card{

  max-width: 100px;
  min-width: 500px;
  
}

.card-img-top{
  /*padding: 10px;*/
}
