.login_block {
  height: 300px;
  width: 300px;
  text-align: center;
  border: aquamarine;
  position: absolute;
  top: 40%;
  left: 40%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slick-list, .slick-track { touch-action:pan-y; }